{{ form_start(form, {'attr': {'class': 'form-project', 'id': 'form'}}) }}
    <div class="form-input">
        {{ form_row(form.title, {'attr': {'class': 'input-project-form'}}) }}
    </div>
    <div class="project-skill">
        <label class="required">Skills</label>
        <div class="all-skills">
            {% for skill in form.skills  %}
                <label class="container-checkbox">{{ skill.vars.label }}
                    <input type="checkbox" id="{{ skill.vars.id }}" name="{{ skill.vars.full_name }}" value="{{ skill.vars.value }}" {% if skill.vars.checked == true %} checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
            {% endfor %}
        </div>
    </div>
    <input type="hidden" id="{{ form.children['_token'].vars.id }}" name="{{ form.children['_token'].vars.full_name }}" value="{{ form.children['_token'].vars.value }}">

    <button class="btn button-save">{{ button_label|default('Save') }}</button>
{{ form_end(form, {'render_rest': false}) }}
