
{{ form_start(formTeam, {'attr': {'class': 'form-project'}}) }}
    <div class="form-input">
        {{ form_row(formTeam.name, {'attr': {'class': 'input-project-form'}}) }}
        {{ form_row(formTeam.linkedin, {'attr': {'class': 'input-project-form'}}) }}
        {{ form_row(formTeam.github, {'attr': {'class': 'input-project-form'}}) }}
    </div>
    <button class="btn button-save">{{ button_label|default('Save') }}</button>
{{ form_end(formTeam) }}
