<h1>Skill index</h1>
{% for skill in skills  %}
    <div class="container-skill">
        <img src="/uploads/images/{{ skill.image }}" width="50px" alt="{{ skill.name }}" class="skill-image">
        <h3 class="skill-name">{{ skill.name }}</h3>
        <div class="skill-action">
            <div class="skill-edit"
                 onclick="window.location.href = '{{ path('admin_skill_edit', {'skill': skill.id}) }}';"
            >
                Edit
            </div>
            {{ include('skill/_delete_form.html.twig') }}
        </div>
    </div>
{% endfor %}

<div class="new-skill" onclick="window.location.href = '{{ path('admin_skill_new') }}';">Add Skill</div>

